.App {
  font-family: sans-serif;
}
body {
  margin: 10px;
}

.movie-poster {
  width: 400px;
  height: 640px;
  object-fit: cover;
  border-radius: 20px;
}

.movie-name {
  font-size: 24px;
  text-shadow: 2px 2px 5px gray;
}

.container {
  /* background-color:orange; */
  /* border:2px solid black;  */
  border-radius: 18px;
  width: 410px;
}
.container:hover {
  cursor: pointer;
  box-shadow: 10px 10px 10px 10px #888888;
  position: relative;
  top: -5px;
}

.movie-specs {
  display: flex;
  justify-content: space-between;
}

p {
  padding: 10px;
  font-family: sans-serif;
}

.movie-list {
  display: grid;

  grid-template-columns: repeat(
    auto-fit,
    minmax(400px, 1fr)
  ); /*RAM to make responsive*/
  gap: 2rem;
}
span {
  font-weight: bold;
  font-size: 18px;
}
.summary {
  font-family: sans-serif;
  font-size: 20px;
}

body {
  background-color: #f8f9fb;
}
